openapi: 3.0.3
info:
  title: システムAPI
  description: クーポン、顧客、加盟店、FP管理のためのAPI
  version: 1.0.0
servers:
  - url: https://gozigen.com/wp/
    description: 本番環境
  - url: https://gozigen-coupon.com
    description: 検証環境

paths:
  /login:
    post:
      summary: 共通ログイン画面
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: 認証失敗

  /customers:
    get:
      summary: 顧客一覧の取得
      responses:
        '200':
          description: 顧客一覧を返す
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /customers/register:
    post:
      summary: 顧客新規登録画面
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: 顧客登録完了
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /coupons:
    get:
      summary: クーポン一覧取得（加盟店側）
      responses:
        '200':
          description: クーポン一覧を返す
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coupon'

  /coupons/create:
    post:
      summary: 新規クーポンの登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Coupon'
      responses:
        '201':
          description: クーポン作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'

  /fp/schedule:
    post:
      summary: FPの面談候補日登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialPlanner'
      responses:
        '201':
          description: 面談候補日登録成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialPlanner'

  /admin/approve:
    post:
      summary: 管理者によるFP・加盟店の承認
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                status:
                  type: string
                  enum: [approved, rejected]
      responses:
        '200':
          description: ステータス更新成功

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [user, admin, fp, merchant]
          default: user
        name:
          type: string
        email:
          type: string
        email_verified_at:
          type: string
          format: date-time
          nullable: true
        password:
          type: string
        status:
          type: boolean
          default: true
        address:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        phone_number:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Coupon:
      type: object
      properties:
        id:
          type: integer
        merchant_id:
          type: integer
        coupon_code:
          type: string
          maxLength: 50
        image_path:
          type: string
          nullable: true
        is_new_customer:
          type: boolean
        coupon_title:
          type: string
          maxLength: 100
        coupon_description:
          type: string
        contact_info:
          type: string
          nullable: true
        website_urls:
          type: array
          items:
            type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        now_usage:
          type: integer
          nullable: true
        usage_limit:
          type: integer
          nullable: true
        discount_type:
          type: string
          enum: [percentage, fixed_amount, free_item]
        discount_value:
          type: number
          format: float
        minimum_purchase:
          type: number
          format: float
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CouponUsage:
      type: object
      properties:
        id:
          type: integer
        coupon_id:
          type: integer
        user_id:
          type: integer
        used_at:
          type: string
          format: date-time
        purchase_amount:
          type: number
          format: float
        discount_amount:
          type: number
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FinancialPlanner:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        qualifications:
          type: string
        available_dates:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Meeting:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
          nullable: true
        admin_id:
          type: integer
        user_id:
          type: integer
        fp_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true

    MeetingDate:
      type: object
      properties:
        id:
          type: integer
        meeting_id:
          type: integer
        proposed_datetime:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, confirmed, cancelled]
          default: pending
        is_selected:
          type: boolean
          default: false
        note:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
